ALLOWED_HOSTS=*

MAIN_STORAGE_TYPE=s3
AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_S3_MULTIPART_UPLOAD_IAM_ROLE=
AWS_S3_KMS_KEY_ARN=
# AWS_S3_ENDPOINT_URL=

CACHE_URL=filecache:///tmp/roi-cache
CELERY_BROKER=
DEPLOY_CELERY_BROKER=

DATABASE_URL=
REPO_PRIVATE_KEY_SECRET=
SECRET_KEY=
STATS_JWT_KEY=

ROI_AUTO_MIGRATE=true
# CSRF_TRUSTED_ORIGINS=
# SENTRY_DSN=

URL_BASE=
PLATFORM_LONG_NAME=
PLATFORM_SHORT_NAME=Valohai
DEFAULT_FROM_EMAIL=noreply@DOMAINHERE

NOTEBOOK_EXECUTIONS_FLAG=all
MONOREPO_FLAG=all
VIEW_PRESET_FLAG=all
DATASET_FLAG=all
DM_FLAG=all
ENABLE_BILLING=false
ENABLE_EXECUTION_CREDIT_CHECK=false
ENABLE_PLANS=false

USE_WATCHTOWER=0
INSTALLATION_TYPE=private
ENABLE_USER_TRACKING=false
NOINDEX=true
SECURE_SSL_REDIRECT=false
RUN_CHECKS_VIA=in-container

ACCOUNT_EMAIL_REQUIRED=true

# USE_SES_EMAIL=false
# AWS_SES_REGION_NAME=
# AWS_SES_ACCESS_KEY_ID=
# AWS_SES_SECRET_ACCESS_KEY=

# MAILGUN_ACCESS_KEY=

# TOTANGO_SERVICE_ID=
# TOTANGO_ORG_ID=

SIGNUP_ENABLED=false
AUTO_ACCEPT_ORGANIZATION_INVITATIONS=true

# ENABLE_AZURE_AD_LOGIN=false
# AZURE_OIDC_RP_CLIENT_ID=
# AZURE_OIDC_RP_CLIENT_SECRET=
# AZURE_OIDC_OP_AUTHORIZATION_ENDPOINT=https://login.microsoftonline.com/common/oauth2/v2.0/authorize
# AZURE_OIDC_OP_JWKS_ENDPOINT=https://login.microsoftonline.com/common/discovery/v2.0/keys
# AZURE_OIDC_OP_TOKEN_ENDPOINT=https://login.microsoftonline.com/common/oauth2/v2.0/token
# AZURE_OIDC_OP_USER_ENDPOINT=https://graph.microsoft.com/oidc/userinfo

ENABLE_SAML_LOGIN=false
ALLOW_SAML_BINDING_TO_EXISTING_USER=false
SAML_AUTO_ADD_TO_ORGANIZATION=true

# OPTIMO_ROOT_URL=
# OPTIMO_BASIC_AUTH_USERNAME=
# OPTIMO_BASIC_AUTH_PASSWORD=

# ENABLE_GITHUB_INTEGRATION=false
# GITHUB_SITE_URL=https://github.com
# GITHUB_API_URL=https://api.github.com
# GITHUB_APP_CLIENT_ID=
# GITHUB_APP_CLIENT_SECRET=
# GITHUB_APP_REDIRECT_URI=
# GITHUB_APP_SLUG=
# GITHUB_APP_PRIVATE_KEY=
# GITHUB_APP_ID=