ALLOWED_HOSTS=*
AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_S3_MULTIPART_UPLOAD_IAM_ROLE=
MAIN_STORAGE_TYPE=s3
CACHE_URL=filecache:///tmp/roi-cache
CELERY_BROKER=
DEPLOY_CELERY_BROKER=
DATABASE_URL=
DEFAULT_FROM_EMAIL=noreply@DOMAINHERE
DM_FLAG=all
ENABLE_BILLING=false
ENABLE_EXECUTION_CREDIT_CHECK=false
ENABLE_PLANS=false
NOINDEX=true
PLATFORM_LONG_NAME=
PLATFORM_SHORT_NAME=Valohai
REPO_PRIVATE_KEY_SECRET=
SECRET_KEY=
SENTRY_DSN=
SIGNUP_ENABLED=false
STATS_JWT_KEY=
URL_BASE=
USER_TRACKING=false
USE_WATCHTOWER=0
USER_TRACKING=false
USE_SES_EMAIL=false
SECURE_SSL_REDIRECT=false
RUN_CHECKS_VIA=in-container
AUTO_ACCEPT_ORGANIZATION_INVITATIONS=true
INSTALLATION_TYPE=private
AUTO_ACCEPT_ORGANIZATION_INVITATIONS=true
ROI_AUTO_MIGRATE=true