[Unit]
Description=Daily Docker Prune
After=network.target
Requires=docker-prune.service

[Service]
Type=oneshot
ExecStart=-/usr/bin/docker container prune --force

[Install]
WantedBy=multi-user.target
