[Unit]
Description=Valohai Peon Cleanup Timer
Requires=peon-clean.service

[Timer]
# Every 10 minutes.
# Ref.: http://unix.stackexchange.com/questions/126786/systemd-timer-every-15-minutes
OnCalendar=*:0/10
Persistent=true

[Install]
WantedBy=timers.target
